<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">TEI Web Editor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="/editor">Editor</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
          <ul class="dropdown-menu"> -->
            <li><a href="#" id="file-new">New</a></li>
            <li><a href="#" class="file-open-dir">Open</a></li>
            <li><a href="#" id="file-open-save">Save</a></li>
            <li><a href="#" id="file-pr">Review Request</a></li>
            <li><a href="#" id="toggle-mirador">Toggle Mirador</a></li>
            <li><a href="#" id="toggle-preview">Toggle Preview</a></li>
          <!-- </ul>
        </li> -->

      </ul>
      <% if @username %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= @user_url %>">Logged in as <span id="username"><%= @username %></span></a></li>
      <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
