<div id="editor-wrapper">
  <div id="editor" class="window">
    <form>
      <textarea id="editor-text-area"></textarea>
    </form>
  </div>
  <div id="preview" class="window">
  </div>
</div>
<div id="dir" class="file-window">
  <div>
    <form id="file-manual">
      <div class="form-group">
        <label for="manual-url">Enter a file url here</label>
        <input type="text" class="form-control" id="manual-url" name="manual-url" placeholder="https://api.github.com/repos/rsinghal/summahalensis/contents/ahsh-l1p1i1t1q1c1/ahsh-l1p1i1t1q1c1.xml?ref=sandbox">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div>
    <p>Recent Files</p>
    <ul id="recentfiles">
      <li>
        <a class="file-open-file" data-url="https://api.github.com/repos/rsinghal/summahalensis/contents/ahsh-l1p1i1t1q1c1/ahsh-l1p1i1t1q1c1.xml?ref=sandbox">https://api.github.com/repos/rsinghal/summahalensis/contents/ahsh-l1p1i1t1q1c1/ahsh-l1p1i1t1q1c1.xml?ref=sandbox</a>
      </li>
    </ul>
  </div>
  <div>
    <p>My Repositories</p>
    <ul id="repositories">
    </ul>
  </div>
  <div>
    <p>Suggested Repositories</p>
    <ul id="suggested-repositories">
      <li><a class="create-fork" data-url="https://api.github.com/repos/scta-texts/summahalensis">Create fork of https://api.github.com/repos/scta-texts/summahalensis</a></li>
      <li><a class="create-fork" data-url="https://api.github.com/repos/scta/simple-tei-edition"> Create fork of https://api.github.com/repos/scta/simple-tei-edition</a></li>
    </ul>
  </div>
</div>
<div id="repo-browser" class="file-window">
  <p>
    <div id="repo-browser-branch">
    </div>
    <div id="breadcrumbs">
    </div>
    <a class="file-open-dir">Back to Repo List</a></li>
    <div id="repo-browser-list"></div>
  </p>
</div>
<div id="save" class="file-window">
  <form id="save-form" style="float: left; width: 40%; box-sizing: border-box;">
    <div class="form-group">
      <label for="save-url">File Path</label><br/>
      <p type="text" name="save-url" id="save-url" style="word-wrap: break-word;"/>
    </div>
    <div class="form-group">
      <label for="repo">Repo</label><br/>
      <input type="text" name="repo" id="repo"/>
    </div>
    <div class="form-group">
      <label for="path">Path</label><br/>
      <input type="text" name="path" id="path"/>
    </div>
    <div class="form-group">
      <label for="file-name">Filename</label><br/>
      <input type="text" name="path" id="file-name"/>
    </div>
    <div class="form-group">
      <label for="branch">Branch</label><br/>
      <input type="text" name="branch" id="branch"/>
    </div>
    <div class="form-group">
      <label for="sha">Last Commit</label><br/>
      <input type="text" name="sha" id="sha"/>
    </div>
    <div class="form-group">
      <label for="branch">Message</label><br/>
      <input type="text" name="message" id="message"/>
    </div>
    <div class="form-group"><br/>
      <input type="submit" id="save" value="save"/>
    </div>
  </form>
  <div id="save-as-file-browser" style="float: left; width: 60%; box-sizing: border-box; border-left: 1px dotted black;">
    <div style="margin: 2px; padding: 2px; border-bottom: 1px dotted black;">
      <p>Create new repository</p>
      <form id="create-new-repo">
        <input type="text" name='new-repo-name' id='new-repo-name' placeholder='new-repo-name'/>
        <input type="submit"/>
      </form>
    </div>
    <ul id="save-as-file-browser-list-wrapper">
    </ul>
  </div>
</div>
<div id="pull-request-viewer" class="file-window">
  <div id="current-repo">
  </div>
  <div id="target-repo">
  </div>
</div>
