<div class="container-fluid">
  <div class="row" style="padding: 0;">
    <div class="col-sm-6" style="background-color: #b3cab6; padding-top: 25px; margin: 0; padding-left: 0;">
      <form>
        <textarea id="editor">
<%= @doc %>
        </textarea>
      </form>
    </div>
    <!-- the hard code to height 700px is a problem -->
    <!-- I tried to set this to 100% but this doesn't seem to allow the overflow scroll to work -->
    <div id="preview-wrapper" class="col-sm-6" style="overflow-y: scroll; height: 700px; color: black;">
      <div id="preview">
      </div>
    </div>
  </div>
</div>
