<!DOCTYPE html>
<html>
  <head>
    <title>SCTA</title>
    <%= include_gon %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/CETEI.css">
    <link rel="stylesheet" type="text/css" href="/assets/mirador-2.4/css/mirador-combined.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
  </head>
  <body style="padding-top: 51px;">
    <%= erb :_navbar %>
    <%= yield %>
  </body>
  <footer></footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/assets/javascripts/CETEI.js"></script>
  <script src="/assets/javascripts/base64.js"></script>
  <script src="/assets/javascripts/ace/ace.js"></script>
  <script src="/assets/javascripts/toolbar.js"></script>
  <script src="/assets/mirador-2.4/mirador.js"></script>
  <script src="/assets/javascripts/mirador-instance.js"></script>
</html>
