<div>
  <h1>New Record</h2>
  <form method="post" action="create">
    <table>
      <tr>
        <td>id</td>
        <td><input type="type" name="id" placeholder="Aquinas"></input></td>
      </tr>
      <tr>
        <td>label</td>
        <td><input type="type" name="title" placeholder="Thomas Aquinas"></input></td>
      </tr>
      <tr>
        <td>type</td>
        <td><input type="type" name="type" placeholder="scholastic"></input></td>
      </tr>
    </table>
    <input type="submit"/>
  </form>
</div>
