/** {
    margin: 0;
    padding: 0;
}
.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}*/
#editor{
    overflow-y: scroll; width: 100%; height: 100vh; background-color: #b3cab6; color: black}
}

#preview-wrapper{
    overflow-y: scroll; width: 100%; height: 500px; color: black;}
}
.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
